Source: graphite-web
Section: net
Priority: extra
Maintainer: Lars Fronius <lars@jimdo.com>
Build-Depends: debhelper (>= 7.0.50~), python, quilt
Standards-Version: 3.8.4
X-Python-Version: >= 2.5
Homepage: https://launchpad.net/graphite
Vcs-Svn: http://bazaar.launchpad.net/~graphite-dev/graphite/main/
Vcs-Browser: https://code.launchpad.net/graphite

Package: graphite-web
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, apache2 | lighttpd | httpd, python-django, python-django-tagging, python-cairo, python-whisper (>= 0.9.9)
Description: Graphite provides real-time visualization
  Web-Interface to carbon/whisper data storage
  Graphite provides real-time visualization and storage of numeric time-series data on an enterprise level
