Source: graphite-web
Section: net
Priority: extra
Maintainer: Lars Fronius <lars@jimdo.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
X-Python-Version: >= 2.5
Homepage: https://launchpad.net/graphite
Vcs-Svn: http://bazaar.launchpad.net/~graphite-dev/graphite/main/
Vcs-Browser: https://code.launchpad.net/graphite

Package: graphite-web
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Graphite provides real-time visualization
 Graphite provides real-time visualization and storage of numeric time-series data on an enterprise level
